html {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF; /*solo afecta el header*/
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #FF706C;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #FF706C;
    }

header, footer, hgroup,
nav, section {
    display: block;
    margin: 0px;
    padding: 0px;
}

header, footer {
    background-color: #353E49;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-right-footer {
    float: right;
    color: #FFF;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #666;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
}

header .content-wrapper {
    padding-top: 20px; 
}
    
footer {
    clear: both;
    font-size: .8em;
    height: 130px;
}

.backgroundFooter {
    z-index: 1px;
    position: absolute;
}


/* site title
----------------------------------------------------------*/
.site-title {
    font-family: sans-serif;
    font-size: 2.3em;
    margin: 0;
    letter-spacing: 1px;
}

.site-title a, .site-title a:active {
    color: #FFF;
    outline: none;
    text-decoration: none;
}

    .site-title a:hover {
        color: #FF706C;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    margin-top: 10px ;
    text-align: right;
    color: #fff;
    font-size: 16px;


}

    #login a {
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: none;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 75px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    text-align: center;
}

    ul#menu li {
        position: relative;
        display: inline;
        list-style: none;
        padding-left: 4%; /*padding-left: 15px;*/
        padding-right: 4%;
    }

        ul#menu li a {
            background: none;
            color: #CCC;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #FF706C;
            text-decoration: none;
        }

ul#menu li ul {
    position: absolute;
    left: 0;
    width: 100%;
  padding: 0;
  margin-right: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul#menu li ul li { 
  background: #272F38; 
  display: block; 
  color: #CCC;
  text-align: left;
  text-shadow: 0 -1px 0 #000;
}
ul#menu li ul li:hover {
    color: #FF706C;
}
ul#menu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
    padding-top: 20px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

.imgBack {
    opacity: 0.5;
    filter: grayscale(100%);
    height: 400px;
    width: auto;
    object-fit: cover;
    position: absolute;
}

.map {
    border: none;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
    background-color: #353E49;
    color: #FFF;
    padding: 20px;
}
    aside h3 {
        color: #FFF;
        margin: 10px 0px;
    }

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 70%;
}

#LoginResults {
    box-sizing: border-box;
    padding: 20px;
    padding-left: 40px;
    width: 29%;
    display: inline-block;
    vertical-align: top;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }
    
/* contact */

.contact h3 {
    font-size: 1.2em;
    color: #CCC;
    padding: 0px 6px;
}

.contact p {
    margin: 5px 0 0 10px;
}
/*
.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}*/

/* forms */
fieldset {
    border: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }

    label.checkbox {
        display: inline;
    }

    input, textarea {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }

    textarea {
        font-family: inherit;
        width: 500px;
    }
    
        input:focus, textarea:focus {
            border: 1px solid #7ac0da;
        }

        input[type="checkbox"] {
            background: transparent;
            border: inherit;
            width: auto;
        }
        
    input[type="submit"],
    input[type="button"],
    button {
        background-color: #353E49;
        color: #CCC;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8%;
        margin-bottom: 20px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
  /*  header .float-left,
    header .float-right {
        float: none;
    }*/

    /* logo */
   /* header .site-title {
        margin: 10px;
        text-align: center;
    }*/

    /* login */
   /* #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }*/

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    margin-top: 50px;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
   display: block;
   border-top: 1px solid #888;
   padding: 10px;
        }

            ul#menu li a {
                display: block;
            }

            ul#menu li:hover {
  background-color: #272F38;
  color: #FF706C;
}
            ul#menu li ul li {
                text-align: center;
            }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }



    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
    }

        footer p {
            margin: 0;
        }
}

ul#menuFooter {
    font-size: 1.5em;
    font-weight: 600;
}

    ul#menuFooter li {
        list-style: none;
        line-height: 150%;
    }

        ul#menuFooter li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menuFooter li a:hover {
            color: #FF706C;
            text-decoration: none;
        }

/* END: Mobile Styles */








    /* mio extra ----------------------------------------------------------*/

.triangle {
    margin: 0 auto;
    width:0;
    border-right:12px solid transparent;
    border-bottom:12px solid #FFF;
    border-left:12px solid transparent;
}



/* default page -----------------------------------------------------------*/

.apps {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 50px;
  padding-left: 60px
 /* margin: 0px auto;*/
}

.appForm {
  float: left;
  width: 100%;
  max-width: 600px;
  height: 420px;
  background: #fff;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.08);
  display: inline-block;
  margin: 0px 20px 20px 20px;
  vertical-align: top;
}

.app {
  display: inline-block;
  /*float: left;*/
  position: relative;
  width: 300px;
  height: 200px;
  background: #fff;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.08);
  margin: 0px 20px 20px 0px;
  padding: 0px;
}

.footerImg {
  width: 100%;
  height: 50px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  color: #CCC;
  /*font-size: 1.5em;*/
  font-weight: 600;
  font-size: 20px;
  overflow: hidden;
  transition: height 1s;
  -moz-transition: height 1s;
  -webkit-transition: height 1s;
}

.app:hover .footerImg {
  height: 150px;
}

.place {
  float: left;
  padding: 10px 20px;
}

.price {
  float: right;
  padding: 10px 20px;
}

.footerImg p {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 18px;
    float: left;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
    .apps {
        padding: 0px;
    }

    .app {
        margin: 0px;
        width: 100%;
        height: auto;
    }

    .footerImg {
      bottom: 5px;
      height: 20%;
    }

    .footerImg p {
        display: none;
}

}





/* form page --------------------------------------------------------------*/

#Form {
    border-right: solid 2px #c8c8c8;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
}

label {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 6px;
    color: #888;
}

.input {
    box-sizing: border-box;
    border: 1px solid #DADADA;
    color: #353E49;
    height: 30px;
    margin: 0px 0px 16px 0px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 16px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.inputCal {
    width: 70%;
    color: #CCC;
}

select {
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}

.inputBottom {
    float: right;
}

.process {
    display: block;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}

.inline {
    display: inline-block;
}

#Results {
    box-sizing: border-box;
    padding: 20px;
    padding-left: 40px;
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
#Form {
    float: none;
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    border-right: none;
}
#Results {
    float: none;
    width: 100%;
}

#Results .app {
    width: 100%;
}
}


/*****************************************/
.video {
    height: auto;
    width: 100%;
    /*top: 0;
    right: auto;
    bottom: auto;
    left: 0;*/
}

.videoTitle {
    width: 100%;
    line-height: 1;
    position: absolute;
    z-index: 100;
    text-align: center;
    margin: 0 auto;
    color: #353E49;
}

.videoTitle h1{
    color: #353E49;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
    /*text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;*/
    /*text-shadow: 0px 3px 2px rgba(150, 150, 150, 1);*/
}

.validator {
    display: block;
}

#GBTop {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

#GBTop input{
    width: 50px;
}

#GBHalf {
    box-sizing: border-box;
    width: 50%;
    margin: 0px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

#GBLast {
    padding-top: 20px;
}

.Grid {
    background-color: #48515C;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}
.Grid td {
      padding: 10px 2px;
      border: none;
}


.Grid#MainContent_GridView3 td {
      padding: 0px;
}


.Grid th  {
      padding : 10px 6px;
      background: #353E49;
      color: #CCC;
      border: none;
 }
.Grid .alt {
      background: #353E49;
}

.GridPager {
    font-weight: bold;
    font-size: 16px;
    height: 30px;
}

.GridPager td {
    padding: 0px;
    height: 0px;
    padding: 0px 10px;
}

.GridPager a {
    text-decoration: none;
    margin: auto;
}

/* Companies */
.radioButtonList { list-style:none; margin: 0 auto; padding: 0; width: 100%;}

.radioButtonList input{
    padding: 0;
    width: auto;
    margin-left: 6px;
}

.radioButtonList label{
    width: auto;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

/*register*/

.radioButtonList2 { list-style:none; margin: 0 auto; padding: 0; width: 100%;}

.radioButtonList2 input{
    padding: 0;
    width: auto;
    margin-left: 10px;
}

.radioButtonList2 label{
    width: 20%;
    margin: 0;
    padding: 0;
}

.hiddencol
{
display: none;
}