# aqui pueden ir tipos de archivos que no queremos incluir #
############################################################

# este tipo de archivos suele dar conflicto porque es un archivo binario. 
# se genera automaticamente cuando alguien abre el proyecto en local.
*.suo
*.user
*.userosscache
*.cache
# todo lo que hay en obj lo puede generar cada uno cuando se ejecuta.
obj/ 
# en la base de datos solo puede estar trabajando una persona. Varias personas puede dar conflicto.
# *.mdf
# *.ldf